.widget{
	margin-bottom: 20px;
}
.widget div{
	padding: 10px;
}

.widget h2{
	color: #3A3A3A;;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 7px;
	background: #E3E3E3;
	/*border-bottom: 2px solid #969696;*/
}

.widget_categories li a{
	color: white;
	padding: 10px;
	padding-right: 0;
}

.widget_categories ul{
	margin: 15px;
	padding: 0;
}
.widget_categories li {
	color: white;
	padding-right: 10px;
	background: #3A3A3A;
	border: 2px solid #3C3C3C;
	display: inline-block;
	border-radius: 5px;
	margin-bottom: 5px;
}

/*.widget_recent_entries li{
	margin-bottom: 8px;
	list-style: square;
	margin-left: 13px;

}*/
.widget_recent_entries li a{
	color: #1E529F;
}
.widget_recent_entries li a:hover{
	color: #011F4B;
}

#calendar_wrap{
	text-align: center;
}
#calendar_wrap table{
	margin: auto;
	width: 90%;
	background: #FFF9F9;
}
#wp-calendar thead{
	background: #F4EDED;
}

/* formulario */
.comments-area{
	border-top: 2px solid #FFCCCC;
	margin-top: 20px;
	padding-top: 15px;

}

.required{
	color: red;
}

.comment-notes{
	padding: 15px;
	margin-bottom: 10px;
	background: #40A9DB;
	color: #00374F;
	border-left: 2px solid #000848;
	border-right:2px solid #000848;
	border-radius: 5px;
}

h2.comments-title,h3.comment-reply-title{
	font-family: 'Poppins';
	text-align: center;
}

h3.comment-reply-title{
	margin-top: 25px;
	margin-bottom: 15px;

}
.comment-form{
	display: block;
	width: 80%;
	margin: auto;
}
.row p, p.comment-form-comment{
	display: block;
	/*width: 80%;*/
}


.section-post .post{
	padding: 15px!important;
	background: #E9E9E9!important;
}

ol.comment-list li{
	list-style: none;
	margin-left: 0px;
}

.form-submit{
	text-align: right;
	/*width: 80%;*/
}

/*forms*/

input[type=text], textarea{
	background: #F5F5F5;
	padding: 10px;
	border: none;
	border-bottom: 2px solid #1A6385;
	display: block;
	width: 100%;
	margin-bottom: 10px;
	color: #343434;
}

input[type=submit]{
	border: none;
	cursor: pointer;
}

input[type=text]:focus, textarea:focus{
	border-bottom: 2px solid #4CC9C0;
}


textarea{
	background: rgba(0,0,0, 0.1);
}

/*
code
*/

code{
	background: #EBEBEB;
	font-family: monospace !important;
	color: #4A2323;
	padding: 5px;
	font-size: 10pt;
	border-radius: 5px;
	display: block;
}

/*comments*/

img.avatar-60{
	width: 60px;
	height: auto;
	display: inline-block;
	width: 10%;
	vertical-align: middle;
}

ol.comment-list{
	margin: 0;
	padding: 0;
}
.comment-meta{
	background: rgba(0,0,0, 0.1);
	padding: 10px;
	font-family: 'Roboto';

}

.comment-meta em{
	font-style: normal;
	display: block;
	color:#676767;
	text-align: center;

}

.comment-content em{
	font-style: italic;
	display: inline;
	color: #ADF1FF;
}

.comment-metadata{
	text-align: right;
}

.comment-metadata a,
.comment-metadata time
{
	font-size: 10pt;
	color: #76A8B2;
}


.comment article
{
	/*background: black;*/
}

.comment-content p, .comment-content  a{
	color: #ADF1FF;
	font-family: 'Roboto';

}
.comment-content  a{
	color: white;
}
.comment-content {
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	width: 85%;

	position: relative; background: #0F5A62; border-radius: .4em;
}

.comment-content:after { content: ''; position: absolute; left: 0; top: 50%; width: 0; height: 0; 
		border: 14px solid transparent; border-right-color: #0F5A62; border-left: 0; 
		margin-top: -14px; margin-left: -14px;
}

/*
search
*/
.searchform{
	text-align: right;
}

.screen-reader-text{
	display: none;
}

#searchsubmit{
	margin: 0;
}

.container > .searchform{
	width: 70%;
	margin: auto;
	text-align: center;
}
.container > .searchform #searchsubmit{
	width: 30%;
	min-width: 120px;
}


/*the images in posts*/

.alignright{
	float: right;
	margin:  7px 0 7px 7px;
}

.alignleft{
	float: left;
	margin:  7px  7px 7px 0;
}
.aligncenter{
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.wp-caption{
	padding: 10px;
	border: 1px solid #EEEEEE;
	border-right: 2px solid #EEEEEE;
	border-bottom: 2px solid #EEEEEE;
	background: white;
	border-radius: 3px;
}
p.wp-caption-text{
	text-align: center;
	color: #343434;
	padding: 10px;

}


.comment-container{
	padding: 10px;
}

.comment-respond p{
	font-family: 'Roboto';
}

p.form-submit{
	text-align: right;
}

.section-post .searchform{
	padding: 20px;
	text-align: center;
}

/*404*/

.error-container{
	text-align: center;
	margin-top: 50px;
}
.error-container p{
	color: #484848;
	text-align: center;
	margin-bottom: 30px;
}

.error-no-found{
	font-size: 60pt;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #9A9A9A;
}