*{
    margin: 0;
    /*padding: 0;*/
    text-decoration: none;
    color: black;/*#82BBD1;*/
    box-sizing: border-box;
    font-size: 12pt;
    /*============================*/

}

body{
    color: #343434;
    font-family: sans-serif;
    background-color: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}

div.clear{
    clear: both;
}
p, div{
    line-height: 1.5;
}

h1, h2, h3, h4, h5{
    font-family: 'Poppins', sans-serif;
    color: #343434;
    margin-top: 20px;
    margin-bottom: 5px;
}


h1{
    font-size:22pt; 
    font-weight: bold;
}

h2{
    font-size: 18pt;    

}

h3{
    font-size: 14pt;    
}

h4{
    font-size: 14pt;    
    font-weight: normal;
}

a{
    color: #1D6B9B;
}

a:hover{
    /*border-bottom: 1px dotted #00409E*/;
}

div.right{
    text-align: right;
}

div.center{
    text-align: center;
}

/*container*/

div.content, .menu-container{
    max-width: 1200px;
    margin: auto;
}

div.content{
    background: white;
    margin-top: 316px;
    border:1px solid #DCDCDC;
    margin-bottom: 50px;
    border-radius: 5px;
    padding-bottom: 20px;

}

.section-post, div.content, aside.tools .widget{
    background: white;
    border-radius: 5px;
    /*=========*/
    -webkit-box-shadow: 13px 13px 12px -12px rgba(0,0,0,0.41);
    -moz-box-shadow: 13px 13px 12px -12px rgba(0,0,0,0.41);
    box-shadow: 13px 13px 12px -12px rgba(0,0,0,0.41);

}

/*band*/
div.band{
    background: #D0D0D0;
    right: 0;
    width: 100%;
    height: 400px;
    display: table;
    z-index: -100;
    overflow: hidden;
    position: fixed;
    top: 0;
}

div.band .wrap{
    /*width: 100%;*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
div.band .wrap h1{
    /*color: white;*/
}

/*header*/
header.main{
    background: #F4F4F4;
    -webkit-box-shadow: -2px 9px 12px -12px rgba(0,0,0,0.41);
    -moz-box-shadow: -2px 9px 12px -12px rgba(0,0,0,0.41);
    box-shadow: -2px 9px 12px -12px rgba(0,0,0,0.41);
    position: fixed;
    top: 0;
    right:  0;
    left:  0;
    z-index: 1000;
}

/*menu*/

nav.menu li{
    display: inline-block;
}


nav.menu a{
    display: block;
    font-family: 'Poppins', sans-serif;
    padding: 20px 15px;
    color: #000000;
    border-bottom: 4px #F4F4F4 solid;

}

nav.menu a:hover,
nav.menu a.active,
nav.menu .current-menu-item a
{
    border-bottom: 4px #0A8CCD solid;

}

a.news-item:hover{
    background: #E1E1E1;
}

.logo{
    float: left;
}

.logo img{
    width: 50px;
    height: auto;
    margin-left: 10px;
    margin-top: 5px;
}

nav.menu{
    float: right;
}


/*footer*/

footer{
    background: #D0D0D0;
    height: 100px;
    padding-top: 40px;
    text-align: center;
    color: #252525;
}

/*banner*/
.banner{
    position: relative;
}
.content-banner{
    overflow: hidden;
    width: 100%;
    height: 400px;
    display: table;
    border-radius: 5px 5px 0 0;
}

.content-banner .text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.content-banner .text h2{
    color: white;
}

.content-banner .text p{
    color: #DEDEDE;
}

.content-banner .text div{
    padding: 20px;
    background: rgba(0,0,0,0.8);
    color: white;
    width: 50%;
    margin: auto;

}

/*buttons*/

.btn-default, .btn-green, .btn-light, #searchsubmit{
    background: #002B54;
    color: #FFFFFF !important;
    padding: 5px 15px;
    display: inline-block;
    margin: 15px 0;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
}

.btn-default:hover, #searchsubmit:hover{
    background: #10447A;
    color: #FFFFFF;
}

.btn-green{
    background: #0E8407;
}

.btn-green:hover{
    background: #469D44;
}

.btn-light{
    background: #6389AA;

}


/*cards*/
.cards{
    text-align: center;
}
.card h3{
    text-align: center;
}
.card p{
    padding: 10px;
    font-size: 10pt;
    color: #5A5A5A;
    height: 90px;
    overflow: hidden;
}

.card, .card-post, .card-profile{
    display: inline-block;
    border: 1px solid #DADADA;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 8px 15px 38px -17px rgba(0,0,0,0.4);
    -moz-box-shadow: 8px 15px 38px -17px rgba(0,0,0,0.4);
    box-shadow: 8px 15px 38px -17px rgba(0,0,0,0.4);
    background: white;
}

.card{
    width: 20%;
    margin-left:  23px;
    margin-right: 23px;
    margin-bottom: 20px;
    text-align: center;
}

.card .img{
    height: 100px;
    width: 100%;
    background: gray;
    /*border-radius: 5px 5px 0 0;*/
}

.card-post{
    width: 45%;
    height: 300px;
    vertical-align: bottom;
    margin-left: 37px; 
    margin-bottom: 40px;
}
.card-post .img{
    width: 45%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.card-post .img img{
    height: 100%;
    width: auto;
    /*transform: rotate(-90deg);*/
}

.card-post .abstract{
    width: 50%;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    margin-left: 10px;
    box-sizing: border-box;
}

.card-post .abstract p{
    display: block;
    height: 140px;
    font-size: 10pt;
    overflow: hidden;
}


.section-community{
    text-align: center;

}
.card-profile{
    display: inline-block;
    width: 20%;
    margin: auto;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.card-profile .img, .profile-info .img{
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 100%;
    padding: 5px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    overflow: hidden;
    display: inline-block;
}

.card-profile p{
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    text-align: justify;
}

/*sections*/
.main-h1, .title-post{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Lora', sans-serif;
}


/* post */
.section-post{
    width: 65%;
    display: inline-block;
    background: white;
}

.section-post p{
    text-align: justify;
    font-family: 'Lora', sans-serif;
    overflow-x: auto;
}

.section-post p,
.section-post h1,
.section-post h2,
.section-post h3,
.section-post h4,
.section-post h5{
    font-family: 'Libre Baskerville', sans-serif;
}
.post{
    margin-top: 100px !important;
    background: transparent!important;
    -webkit-box-shadow:none!important;
    -moz-box-shadow:none!important;
    box-shadow:none!important;
    border: none!important;
}

.title-post{
    /*text-transform: uppercase;*/
}
.post-info{
    padding: 10px 10px;
}
.post-info h1{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.section-content{
    padding: 20px;
}

article{
    padding-left: 10px;
}

/*aside*/

aside.tools{
    display: inline-block;
    width: 32%;
    vertical-align: top;
}

.widget{
    margin-left: 15px;
    margin-bottom: 25px;
    padding-bottom: 8px;
}
.widget p, .widget h2{
    font-family: 'Roboto', sans-serif;
}
.widget h2{
    border-radius: 5px 5px 0 0;
    background: #05618F;
    font-family: 'Roboto',sans-serif;
    color: white;
    text-align: center;
    font-size: 14pt;
    padding: 5px;
    margin: 0;
}

/*profile*/

.profile-info{
    background: #E7E7E7;
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

.profile-info .img, .profile-info .text{
    display: inline-block;
    vertical-align: middle;
}
.profile-info .text{
    margin-left: 20px;
}

.text li i{
    margin-right: 5px;
}

.text li{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin-bottom: 7px;

}

a.btn-menu{
    display: none;
    float: right;
    width: 50px;
    height: 50px;
    text-align: center;
    border: #DADADA 1px solid;
    padding-top: 10px;

    margin-right: 7px;
    margin-top: 7px;
    border-radius: 5px;

}

.imsc{
    max-height: 300px;
    width: auto;
    overflow: hidden;
}

.imsc img{
    width: 100%;
    height: auto;
}

hr{
    border: 2px solid #E3E3E3;
}

.post li{
    font-family: Libre Baskerville;
    margin-bottom: 13px;
}
